# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
organizer   # if you build a binary with this name

# Output folders
bin/
/bin
obj/

# testfolder
testfolder/
/testfolder

# Dependency directories
vendor/

# IDE/editor files
.vscode/
.idea/
*.swp
*.tmp

# OS files
.DS_Store
Thumbs.db

# Go modules
go.sum
